.places{
  margin: 92px auto 92px auto;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(320px, 984px);
  row-gap: 80px;
  justify-content: center;
}


@media screen and (max-width: 1023px){
  .places{
    margin: 88px auto 90px auto;
    row-gap: 73px;
  }
}

@media screen and (max-width: 767px){
  .places{
    margin: 64px auto 66px auto;
    row-gap: 50px;
  }
}
