.place__image{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 342px){
  .place__image{
    max-width: calc(320px + (100vw - 320px) / (342 - 320) * (342 - 320));
  }
}

