.cover__subtitle{
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 32px 0 0 0;
  max-width: 360px;
  z-index: 3;
}

@media screen and (max-width: 767px){
  .cover__subtitle{
    font-size: calc(14px + (100vw - 320px) / (767 - 320) * (18 - 14));
    line-height: calc(16px + (100vw - 320px) / (767 - 320) * (22 - 16));
    margin-top: calc(16px + (100vw - 320px) / (767 - 320) * (32 - 16));
  }
}
