.lead__title{
  margin: 0;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
}

@media screen and (max-width: 767px){
  .lead__title{
    font-size: calc(40px + (56 + 56 * 0.7) * ((100vw - 320px) / 1280));
    line-height: calc(44px + (56 + 56 * 0.7) * ((100vw - 320px) / 1280));
  }
}


