.lead__title{
  margin: 0;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
  min-width: 288px;
}

@media screen and (max-width: 767px){
  .lead__title{
    font-size: calc(40px + (100vw - 320px) / (767 - 319) * (96 - 40));
    line-height: calc(44px + (100vw - 320px) /(767 - 319) * (100 - 44));
    width: calc(288px + (100vw - 320px) /(767 - 319) * (720 - 288));
  }
}
