.lead__image{
  max-width: 984px;
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 1279px){
  .lead__image{
    max-width: calc(928px + (100vw - 1024px) / (1280 - 1024) * (984 - 928));
  }
}

@media screen and (max-width: 1023px){
  .lead__image{
    max-width:  calc(768px + (100vw - 768px) / (1024 - 768) * (928  - 768));
  }
}

@media screen and (max-width: 767px){
  .lead__image{
    max-width: calc(320px + (100vw - 320px) / (768 - 320) * (768 - 320));
  }
}
