.lead__image{
  max-height: 615px;
  object-fit: cover;
  min-width: 320px;
  width: 100%;
}

@media screen and (max-width: 1279px){
  .lead__image{
    max-height: calc(580px + (100vw - 1024px) / (1280 - 1024) * (615 - 580));

  }
}

@media screen and (max-width: 1023px){
  .lead__image{
    max-height: calc(480px + (100vw - 768px) / (1024 - 768) * (580 - 480));
  }
}

@media screen and (max-width: 767px){
  .lead__image{
    max-height: calc(200px + (100vw - 320px) / (768 - 320) * (480 - 200));
  }
}
