.cover{
  margin: 0 48px;
  max-width: 1184px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  position: relative;
}

@media screen and (max-width: 1279px){
  .cover{
    margin-left: calc(0px + (100vw - 1024px) / (1280 - 1024) * (48 - 0));
    margin-right: calc(0px + (100vw - 1024px) / (1280 - 1024) * (48 - 0));
  }
}

@media screen and (max-width: 1023px){
  .cover{
    margin: 0;
  }
}
