.cover__background{
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.35s;
  position: relative;
}

.cover__background::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: .3;
  z-index: 2;
  transition: opacity .4s;
}

.cover__background:hover::after{
  opacity: .8;
}

@media screen and (max-width: 1279px){
  .cover__background{
    min-height: calc(640px + (100vw - 1024px) / (1280 - 1024) * (740 - 640));
    max-width: calc(1024px + (100vw - 1024px) / (1280 - 1024) * (1184 - 1024));
  }
}

@media screen and (max-width: 1023px){
  .cover__background{
    min-height: calc(480px + (100vw - 768px) / (1024 - 768) * (640 - 480));
    max-width: calc(768px + (100vw - 768px) / (1024 - 768) * (1024 - 768));
  }
}

@media screen and (max-width: 767px){
  .cover__background{
    min-height: calc(200px + (100vw - 320px) / (768 - 320) * (480 - 200));
    max-width: calc(320px + (100vw - 320px) / (768 - 320) * (768 - 320));
  }
}

