.intro__title{
  margin: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
}

@media screen and (max-width: 767px){
  .intro__title{
    font-size: calc(32px + (22 + 22 * 0.7) * ((100vw - 320px) / 1280));
    line-height: calc(35px + (23 + 23 * 0.7) * ((100vw - 320px) / 1280));
  }
}
